* {
    box-sizing: border-box;
}

#myVideo {
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
  }

  #poem{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: bisque;
    border: 1px solid transparent;
    font-family: 'Poppins', 'sans-serif';
  }

  .hidden{
    display: none;
  }

  .showing{
    display: block;
  }